
/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */


/* 
.logo{
  font-size: 60px;
}

.contact-us{
  font-size:30px ;
  color: black;
}


.yumex {
font-size: 40px;
font-weight: bolder;
margin-top: 160px;
font-family: 'Lucida Handwriting';
text-align: center;
}






.explore{
  font-size: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.font{
  color: #007bff;;
}


.custom-center-row {
  display: flex;
  justify-content: center;
}

.pdf-images {
  width: 100%;
  height: auto; 
}


@media (max-width: 767px) {
  .pdf-images {
    width: 860px;
    height: auto;
  }
}

@media (min-width: 768px) {
  .pdf-images {
    width: auto;
    max-width: 100%;
    height: auto;
  }
} */



.image-mobile {
  width: 50px;
}


@media (min-width: 768px) {
  .image-mobile {
    width: 100px;
  }
}

/* For mobile devices */
@media screen and (max-width: 767px) {
  .yumex {
    font-size: 25px; /* Adjust the font size for mobile */
  }
}

/* For desktop devices */
@media screen and (min-width: 768px) {
  .yumex {
    font-size: 70px; /* Adjust the font size for desktop */
  }
}


/* For mobile devices */
@media screen and (max-width: 767px) {
  .supported-by {
    font-size: 25px; /* Adjust the font size for mobile */
  }
}

/* For desktop devices */
@media screen and (min-width: 768px) {
  .supported-by {
    font-size: 60px; /* Adjust the font size for desktop */
  }
}




